<% c++ #include "../content/general.hpp" %>  
<% skin default_skin %>  
<% view home uses content::general %>
<% template render() %>  
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
    <body>
    </body> 
</html>  
<% end template %>  
<% end view %>  
<% end skin %>  
